.header_container {
	position: fixed;
	width: 100vw;
	height: 64px;
	z-index: 999;
}

.header {
	width: 100vw;
	height: 64px;
	background-color: transparent;
	box-shadow: none;
	transition: background-color 0.3s ease;
}

.header_has_scroll {
	background-color: #93c572;
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.toolbar {
	display: flex;
	justify-content: space-between;
	/* El width es: 100% - (margin-left x 2) */
	width: 84%;
	height: 64px;
	padding: 0;
	color: white;
}

.menu_button {
	display: none;
	cursor: pointer;

	@media (max-width: 800px) {
		display: flex;
	}
}
