.header_container {
	position: fixed;
	width: 100vw;
	height: 64px;
	z-index: 999;
}

.header {
	width: 100vw;
	height: 64px;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.5s ease;
}

.header_has_scroll {
	background-color: #93c572;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	/* El width es: 100% - (margin-left x 2) */
	width: 84%;
	height: 64px;
	padding: 0;
	color: white;
}

.menu_container {
	display: flex;
	align-items: center;
	gap: 20px;
}

.menu_container > a {
	text-decoration: none;
	color: white;
}
.menu_container > a > button {
	color: white;
}

.login_button {
	padding: 0;
	color: white;
	min-width: max-content;
}
