.item_container {
	display: flex;
	align-items: center;
}

.item_container > button {
	color: white;
	padding-right: 4px;
}

.menu_item > a,
.menu_item > button,
.menu_item > a > button {
	text-decoration: none;
	color: white;
}
.sub_menu_container {
	margin-top: 40px;
}

.sub_menu_link {
	color: #191716;
	text-decoration: none;
}

.sub_menu_link:hover {
	color: #93c572;
}

.login_button {
	padding: 0;
	color: white;
	min-width: max-content;
}
