.drawer {
	@media (min-width: 800px) {
		display: none;
	}
}

.list_container {
	width: 250px;
	background-color: #93c572;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_menu_link,
.list_item,
.drawer_item > a {
	color: white;
	text-decoration: none;
}
