.specialties_wrapper {
	width: 110%;
	position: relative;
	top: -120px;
	left: -5%;
	margin-bottom: -64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.specialties_container {
	padding: 24px 0px;
	width: max-content;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card_divider {
	width: 240px;
	height: 0px;
	margin: -120px;
	transform: rotate(90deg);
}

.specialty_link {
	text-decoration: none;
}
